snippet section

	# {section} ${1:header}
	${0}

	{section}

snippet endPart

	{uuDocKit-partBreak}


snippet draw
	<Plus4U5.UuBmlDraw.Image code="${1:__HEX32__}"/>${0}


snippet comments
	<UuDocKit.Review.CommentPoint code="__HEX32__"/>
	${0}

snippet hex32
	__HEX32__

snippet hex64
	__HEX64__
